@model IEnumerable<Society.Models.Security>

@{
    ViewBag.SecuIndex = "active";
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<style>
    .wod {
        width: 90%;
        margin-bottom: 2px;
    }

    .indexdesignbox {
        margin: 30px 30px 30px 30px;
        padding: 30px;
    }

    .newbox {
        width: 90%;
    }

    #datatable {
        text-align: center;
    }
</style>

<div class="indexdesignbox">
    <table id="datatable" class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Moobile)
            </th>
            <th>
                Action
            </th>
        </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img style="height: 100px; width: 100px;" src="~/@Html.DisplayFor(modelItem => item.Image)">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Moobile)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new {@class = "btn btn-primary wod"})
                    @Html.ActionLink("Add Security", "Create", null, new {@class = "newbox btn btn-warning"})
                </td>
            </tr>
        }
    </table>
</div>
@section scripts{
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#datatable').DataTable();
        });
    </script>
}