
@{
    //Layout = null;
}


<meta name="viewport" content="width=device-width" />
    <title>Cloth</title>
<link href="~/Content/clothstyle.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<body>
<div class="container">
<div class="t_coths">
    <center>
        <strong id="ourcloths">Gent Section</strong>
    </center>
</div>

<div class="tryyorself">
    <h3 class="headtittleclothss">SHIRT</h3><br>
    <div class="row">
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/Shirt.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign"> 500 BDT</h3>
                    <a href="@Url.Action("OrderForm", "Society", new {data1 = "Shirt-1001", data2 = "500"})"><input class="buttonbuy" data-toggle="popover" data-content="Click here to buy!!!" type="submit" name="submit" value="Buy"></a>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/shirt4.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign">600 BDT </h3>
                    <a href="@Url.Action("OrderForm", "Society", new {data1 = "Shirt-1002", data2 = "600"})"><input class="buttonbuy" data-toggle="popover" data-content="Click here to buy!!!" type="submit" name="submit" value="Buy"></a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/shirt5.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign"> 500 BDT </h3>
                    <a href="@Url.Action("OrderForm", "Society", new {data1 = "Shirt-1003", data2 = "500"})"><input class="buttonbuy" data-toggle="popover" data-content="Click here to buy!!!" type="submit" name="submit" value="Buy"></a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/shirt7.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign">500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/shirt18.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign">500 BDT <del class="deldesign">1120 BDT</del>
                    </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/shirt19.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign">500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/shirt17.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign">600 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/shirt11.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign">700 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>

    </div>
</div>


<div class="tryyorself">
    <h3 class="headtittleclothss">PANTS</h3><br>
    <div class="row">
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/pant1.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign">800 BDT </h3>
                    <a href="@Url.Action("OrderForm", "Society", new {data1 = "pant-1001", data2 = "800"})"><input class="buttonbuy" data-toggle="popover" data-content="Click here to buy!!!" type="submit" name="submit" value="Buy"></a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/pant2.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign">1100 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/pant3.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign">1000 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/pant4.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign">1500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/pant5.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign">900 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/pant6.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign">600 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/pant7.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign"> 800 BDT</h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/pant8.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign">500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>

    </div>

</div>

<div class="t_coths">
    <center>
        <strong id="ourcloths">Ladies Section</strong>
    </center>
</div>

<div class="tryyorself">
    <h3 class="headtittleclothss">SAREES</h3><br>
    <div class="row">
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/saree2.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign">500 BDT </h3>
                    <a href="@Url.Action("OrderForm", "Society", new {data1 = "shari-1001", data2 = "500"})"><input class="buttonbuy" data-toggle="popover" data-content="Click here to buy!!!" type="submit" name="submit" value="Buy"></a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/saree9.jpg">
                <div class="me-shirt">

                    <h3 class="h3tkdesign">500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/saree3.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign"> 500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/saree4.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign"> 500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/saree5.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign"> 500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/saree6.jpg">
                <div class="me-shirt">

                    <h3 class="h3tkdesign"> 500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/saree7.jpg">
                <div class="me-shirt">

                    <h3 class="h3tkdesign">500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/saree8.jpg">
                <div class="me-shirt">

                    <h3 class="h3tkdesign"> 500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>

    </div>
</div>
<div class="tryyorself">
    <h3 class="headtittleclothss">BAGS</h3><br>
    <div class="row">
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/bag8.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign"> 500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/bag4.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign"> 500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/bag3.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign">500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/bag2.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign"> 500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/bag9.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign"> 500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/bag5.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign"> 500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/bag12.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign"> 500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/bag10.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign"> 500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>

    </div>

</div>

<div class="tryyorself">
    <h3 class="headtittleclothss">SALAWOR</h3><br>
    <div class="row">
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/salawor9.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign"> 500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/salawor12.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign"> 500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/salawor3.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign"> 500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/salawor4.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign"> 500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/salawor5.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign"> 500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/salawor6.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign"> 500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/salawor11.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign">500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shirtdiv">
                <img class="shirt-image" src="~/Picture/salawor8.png">
                <div class="me-shirt">

                    <h3 class="h3tkdesign"> 500 BDT </h3>
                    <input class="buttonbuy" type="submit" name="submit" value="Buy">
                </div>
            </div>
        </div>

    </div>

</div><br>
</div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({
                placement: 'top',
                trigger: 'hover'
            });
        });
    </script>
</body>

